@media (max-width: 768px) {
    .To-Do{
        width: 95%;
        max-width: 400px;
        padding: 20px;
    }
    .To-Do h2{
        font-size: 1.8rem;
    }
    .box{
        padding-left: 10px;
    }
    input{
        font-size: 14px;
        padding: 8px;
    }
    .add{
        padding: 10px 20px;
        font-size: 14px;
    }
    .task{
        font-size: 14px;
        max-width: 70%;
        word-break: break-all;
        overflow-wrap: break-word;
    }
    .edit, .delete{
        font-size: 14px;
        padding: 0.4rem 0.6rem;
    }
}

@media (max-width: 480px) {
    .To-Do{
        width: 100%;
        max-width: 400px;
        padding: 17px;
        margin-bottom: 15px;
    }
    .To-Do h2{
        font-size: 1.4rem;
    }
    input{
        font-size: 12px;
    }
    .add{
        padding: 9px 18px;
        font-size: 13px;
    }
    .task{
        font-size: 13px;
    }
    .edit, .delete{
        font-size: 13px;
        padding: 0.4rem 0.5rem;
        margin-right: 0px;
    }
}
